.main-container {
	width: 60%;
	padding-top: 20px;
	overflow: auto;
	text-align: justify;
}

.search-bar {
	width: 80%;
	input {
		width: 80%;
		height: 30px;
		border: $border;
		border-radius: 5px;
	}
}
