html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 2px #819abd solid;
  border-radius: 10px;
  min-width: 100px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  background-color: #819abd;
  color: #f8fafc;
  font-weight: bold;
}
button:hover {
  background-color: #b1c7dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 10vh;
  padding: 1%;
  background-color: #475569;
  color: #f8fafc;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px #819abd solid;
}

main {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f8fafc;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 2px #819abd solid;
  background-color: #475569;
  color: #f8fafc;
}

.loading {
  position: absolute;
  top: 50%;
  right: 50%;
  display: flex;
  align-items: baseline;
}
.loading .text {
  padding-right: 40px;
}

footer .footer-container {
  width: 100%;
  height: 10vh;
  padding: 2% 5%;
}

nav .logo {
  font-size: 1.5em;
  font-weight: bolder;
}
nav .heading-left,
nav .heading-right {
  display: flex;
  align-items: center;
}
nav .heading-left a,
nav .heading-right a {
  margin-left: 20px;
  padding: 8px;
  border-radius: 15px;
}
nav .heading-left a:hover,
nav .heading-right a:hover {
  background-color: #323c4b;
}

.main-container {
  width: 60%;
  padding-top: 20px;
  overflow: auto;
  text-align: justify;
}

.search-bar {
  width: 80%;
}
.search-bar input {
  width: 80%;
  height: 30px;
  border: 2px #819abd solid;
  border-radius: 5px;
}

form {
  border: 2px #819abd solid;
  border-radius: 10px;
  width: 95%;
  display: flex;
  flex-direction: column;
  border: 2px #819abd solid;
  padding: 20px;
  align-items: center;
}
form .form-item {
  width: 80%;
  margin: 5px 10px;
  display: flex;
}
form .form-item input,
form .form-item select {
  border: 2px #819abd solid;
  border-radius: 10px;
  width: 95%;
  height: 40px;
  margin: 10px;
  padding: 10px;
}
form .form-item textarea {
  border: 2px #819abd solid;
  border-radius: 10px;
  width: 95%;
  height: 40px;
  margin: 10px;
  padding: 10px;
  height: auto;
}
form .form-item .checkbox {
  min-width: 140px;
  text-align: center;
}
form .form-item input[type=checkbox] {
  height: 20px;
}
form .required-item::after {
  content: "*";
  color: red;
}

.vacancy-card {
  width: 95%;
  border: #819abd 2px solid;
  background-color: #475569;
  margin: 20px 0;
  padding: 20px;
  box-shadow: #819abd 2px 2px 5px;
  border: 2px #819abd solid;
  border-radius: 10px;
}
.vacancy-card .jobtitle {
  color: #f8fafc;
  margin-bottom: 10px;
  text-decoration: underline;
}
.vacancy-card .company {
  color: #819abd;
  margin-bottom: 10px;
}
.vacancy-card .paybands {
  color: #f8fafc;
}
.vacancy-card .jobdescription {
  color: #cbd5e1;
  margin-bottom: 10px;
}
.vacancy-card .job_details {
  width: 250px;
  color: #f8fafc;
  border-radius: 10px;
  border: 1px #819abd solid;
  padding: 20px;
  display: flex;
  justify-content: center;
  line-height: 1.5em;
}

.vacancy {
  width: 95%;
  border: #819abd 2px solid;
  background-color: #475569;
  margin: 20px 0;
  padding: 20px;
  box-shadow: #819abd 2px 2px 5px;
  border: 2px #819abd solid;
  border-radius: 10px;
  width: 60%;
  overflow: scroll;
}
.vacancy .jobtitle {
  color: #f8fafc;
  margin-bottom: 10px;
  text-decoration: underline;
}
.vacancy .company {
  color: #819abd;
  margin-bottom: 10px;
}
.vacancy .paybands {
  color: #f8fafc;
}
.vacancy .jobdescription {
  color: #cbd5e1;
  margin-bottom: 10px;
}
.vacancy .job_details {
  width: 250px;
  color: #f8fafc;
  border-radius: 10px;
  border: 1px #819abd solid;
  padding: 20px;
  display: flex;
  justify-content: center;
  line-height: 1.5em;
}

.toggle-collapse {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
